@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

html {
    font-family: "Roboto", sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

main {
    display: flex;
    width: 800xp;
    height: 402px;
    background: 100vh url(./background/desafio3/3715c9cd9f8486e8d371be79339c8492.jpeg);
    /* padding: 12px 50px;*/
} 

.texto  {
    height: 111px;
    margin-left: 50px;
    padding-top: 146px;
    padding-right: 50px;
    color: #fff;
}

.texto h2 {
    font-size: 20px;
    font-weight: 900;
}

.texto p {
    padding-top: 11px;
    width: 300px;
    font-size: 15px;
    font-weight: 400;
}

.container {
    margin: 12px 50px;
    max-width: 340px;
    max-height: 378px;
    background: #fff;
    padding: 20px;
    border: 1px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 400px;
    font-size: 15px;
}

label {
    display: block;
}

textarea {
    resize: none;
    width: 100vh;
    height: 100px;
}

input, textarea {
    width: 100%;
    padding: 10px;
    margin: 0 15px 15px 0;
    /* margin-top: 5px; */
    border:  1px solid #000;
    border-radius: 5px;
    outline: none;
}

.container p {
    /* margin: -11px 0 0 -6px; */
    margin: 0px 0 -10px -6px ;
}


button {
    width: 300px;
    padding: 10px;
    margin-top: 20px;
    background: #3CCC87;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

span .erro {
    color: red;
    font-size: 15px;
    display: none;
    border: 1px solid red;
    width: 100vh;
    border-radius: 5px;
    outline: none;
}

input.erro, textarea.erro {
    border-color: red;
}

.sucesso {
    border: 1px solid #00C22B;
}

.mensagem-erro {
    color: red;
    font-size: 8px;
    display: block;
    margin-top: -15px;
    margin-bottom: 5px;
}


.container .campo.erro {
    margin: 0px 0 -10px -6px ;
}